    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>inTime</h2>
              <br/>
                <p>Don't you just hate it when you're listening to music and have to stop in the middle of the song? With inTime, you don't have to! Just connect to Spotify and we'll take it from there.</p>
                <p>Paul is taking his 9 year old son on a trip to Memphis. They want to listen to music on the six hour drive, and they want the satisfaction of having a song end exactly when they reach their destination. Paul uses inTime.</p>
                <p>Beth is hosting a party in her dorm room, but her roommate has a midterm tomorrow and needs the room quiet at 1am. Beth wants her party to end on a high note with a song ending exactly at 1am. Beth uses inTime</p>
                <p>Joaquin loves working out, but hates it when he has to spend extra time on the treadmills waiting to finish the song he is listening to before he can get back to lifting and getting swole. Joaquin uses inTime</p>
                <br/>
              </div>
        </div>
    </section>
